{% assign response_group = default_product_search_resp_group | plus: item_resp_group_variations | plus: item_resp_group_item_properties | plus: item_resp_group_item_editorial_reviews %}
<div class="text-uppercase">{{ product.properties['Brand'].value }}
</div>
<p>
    <a class="text-truncate text-body" href="{{ product_url | append: '?resp_group=' | append: response_group }}">{{ product.localized_name }}</a><br>
    <span class="text-gray-totals">{{ 'products.product.sku' | t }}</span><a class="text-body" href="{{ product_url| append: '?resp_group=' | append: response_group }}">{{ product.sku }}</a><br>
    <span class="text-gray-totals">{{ 'products.product.mmn' | t }}</span>{{ product.properties['MMN'].value }}<br>
    <span class="text-gray-totals">UNSPSC #</span><a class="text-body" href="{{ product_url| append: '?resp_group=' | append: response_group }}">{{ product.sku }}</a>
</p>
