<a class="navbar-brand py-3" href="{{ '' | absolute_url }}" itemprop="url">
    {% if settings.logo_use_image %}
        <img alt="{{ shop.name }}" src="{{ 'ot-logo.png' | asset_url }}" itemprop="logo" height="30" />
    {% else %}
        <strong class="h1 text-uppercase text-condensed d-none d-md-inline">{{ shop.name }}</strong>
        <strong class="text-uppercase text-condensed d-inline d-md-none">{{ shop.name }}</strong>
    {% endif %}
</a>
